body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

input, select, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
}
